.brand{
    background-color:rgb(28, 44, 63);
    padding: 5px 2em;
    align-items: center;
    text-align:justify;
    margin: 1em;
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    border-radius: 55px;
}
.brand__content{
  display: flex;
  text-align: center;
}
.brand__content-social{
    display: flex;
}
.brand__content-social a{
    padding: 15px;
    list-style: none;
    display:inline-flex;
    text-align: center;
    justify-items: center;
}
.brand__content-social a{

    width: 100%;
    align-items: center;
}
.brand__content-social a img{
    width: 55px;
    height:55px;
    border-radius: 80px;
    transition: 0.2s;
}
.brand__content-social a img:hover{
    width: 55px;
    height:55px;
    border-radius: 80px;
    scale: 1.1;
    cursor: pointer;
}